@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
nav .brand-logo span {
    font-family: 'Langar', cursive;
}
a {
    text-decoration: none;
}
.fab {
    line-height: 56px;
}
.colr {
    filter: blur(1.5px);
}

.kartu {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    transform: perspective(2000px);
    transform-style: preserve-3d;
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0 , 0, .5);
}  
.kartu:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0 , 0, .5);
}
.kartu .gambar {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(26, 25, 25);
    box-sizing: border-box;
    transform-origin: right;
    z-index: 1;
    transition: 1s;
}
.kartu:hover .gambar {
    transform: rotateY(135deg);
}
.kartu .gambar .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.kartu .detail {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.parallax-container {
    height: 300px;
}
.parallax img {
    width: 100%;
    filter: grayscale(70%);
    opacity: 0.9 !important;
}
.client h3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}
.client img {
    margin-top: 40px;
    max-width: 200px;
    filter: drop-shadow(1px 1px 1px rgba(255, 250, 250, 0.5));
}
.clientBox {
    position: relative;
    transform-style: preserve-3d;
    
}
.clientBox:hover {
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}
.clientBox .clImgBox {
    z-index: 12;
}
.service {
    position: relative;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.service p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}


.head-service {
    font-weight: 500;
    color: black;
    font-size: 16px;
}
.card 
{
    position: relative;
    box-sizing: border-box;
}
.card-title {
    margin-top: -15px;
}
.card-content {
    position: relative;
}
.card-content p {
    margin-top: 30px !important;
    font-size: 16px !important;
}
.card-content a {
    position: relative;
    margin-top: 30px;
}
.card-title {
    color: #ef9a9a;
}
.tipe {
    color: #a2a2a2;
}
.text-muted {
    color: #6c757d!important;
}
.margin {
    margin-top: 50px;
}
.margin-top {
    margin-top: 100px;
}
.daftar-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}
.daftar-img img {
    width: 100%;
    transform: translateY(-50px);
    
}
.daftar {
    position: absolute;
    top: 30%;
    left: 50%;
    color: #fff;
}
.review-container {
    background: linear-gradient(135deg,#181820 0,#2d3e50 100%);
    border-top: 1px solid #fff;
    font-family: 'Quicksand', sans-serif;
}

.alumni {
    padding-top: 5rem !important;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}
.alumni h2 {
    font-size: 3rem !important;
}
.alumni p {
    margin: 40px 0;
    font-size: 20px;
}

.ceritaContent h3 {
    font-size: 1.5rem !important;
}
.cerita {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.cerita .contentaa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.cerita:hover .contentaa {
    opacity: 1;
}
.cerita .contentaa .ceritaImg {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.cerita .contentaa .ceritaImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cerita .ceritaContent {
    color: #fff;
    margin-left: 20px;
}
.cerita .ceritaContent h3 {
    font-weight: 500;
}
.mt-ce {
    margin-top: 15px;
}

/* contact */
.contact-form {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #112d42;
    margin-top: -20px;
    display: flex;
    font-family: 'Poppins', sans-serif;

}
.contact-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #03a9f4;
}
.contact-form .container {
    position: relative;
    min-height: 550px;
    display: flex;
    z-index: 11;
}
.contact-form .container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color: #0f3959;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    z-index: 1;
}
.contact-form .container .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.contact-form .container .contactInfo .info {
    position: relative;
    margin: 20px 0;
}
.contact-form .container .contactInfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    cursor: pointer;
    margin: 20px 0;
    align-items: flex-start;
}

.contact-form .container .contactInfo li span:nth-child(1){
    font-size: 30px;
    filter: invert(1);
    opacity: 0.5;
    margin-right: 15px;
    
}

.contact-form .container .contactInfo li span:nth-child(2){
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
    
}
.contact-form .container .contactInfo li p {
    line-height: 100%;
}
.contact-form .container .contactInfo li p a {
    color: #fff;
    opacity: 0.5;
    font-weight: 300;
    
}
.contact-form .container .contactInfo li:hover span:nth-child(1),
.contact-form .container .contactInfo li:hover span:nth-child(2),
.contact-form .container .contactInfo li:hover p a {
    opacity: 1;
}
.contact-form .container .contactForm {
    position: absolute;
    padding: 70px 50px;
    background-color: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.contact-form .container .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.contact-form .container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    
}
.contact-form .container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}
.contact-form .container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}
.contact-form .container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}
.contact-form .container .contactForm .formBox .inputBox input,
.contact-form .container .contactForm .formBox .inputBox textarea {
    width: 100% !important;
    
    resize: none;
    color: #333;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
.contact-form .container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.2s;
    pointer-events: none;
}
.contact-form .container .contactForm .formBox .inputBox input:focus ~ span,
.contact-form .container .contactForm .formBox .inputBox textarea:focus ~ span,
.contact-form .container .contactForm .formBox .inputBox input:valid ~ span,
.contact-form .container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    letter-spacing: 1px;
    color: #ff568c;
    font-size: 12px;
    font-weight: 400;
}
.contact-form .container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.contact-form .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background-color: rgb(196, 156, 69);
}
/* Footer */



.footer {
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -20px;
}
.footer .contain {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    
}

/* .contain .sec {
    margin-right: 30px;
}
.contain .sec {
    width: 40%;
} */
.contain .sec h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 2rem;
}
.contain .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: #f00;
}

.contain .sec p {
    color: #999;
}
.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 4px;
}
.sci li a:hover{
    background: #f00;
}

.tentangKami {
   
    position: relative;
}
.fott ul li {
    list-style: none;
    margin-bottom: 10px;
}
.fott ul li a {
    color: #999;
    text-decoration: none;
}
.fott ul li a:hover {
    color: #fff;
}
.contact .info li span {
    color: #999;
}
.contact .info li span:hover {
    color: #fff;
}
.contact .info li p {
    margin-top: 2px;
}
.contact .info li p a {
    color: #999;
    text-decoration: none;
}
.contact .info li p a:hover {
    color: #fff;
}

.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #181818;
    padding: 8px 50px;
    text-align: center;
    color: #999;
}













@media only screen and (max-width: 600px) {
    .daftar  {
        top: 20%;
    }
    .daftar-container {
        height: 400px;
    }
    .daftar-img img {
        width: 100%;
        transform: translateY(50px);
        
    }
    .footer {
        width: 100%;
    }
    .footer .contain {
        flex-direction: column;
    }
    .contact-form {
        height: 100%;
    }
    .contact-form .container .contactInfo {
        top: -10px;
        left: -20px;
        width: 200px;
        height: calc(100% - 300px);
        padding: 0 30px;
        justify-content: center;
    }
    .contact-form .container .contactInfo h2 {
        font-size: 14px;
    }
    .contact-form .container .contactInfo .info{
        margin: 0;
    }
    .contact-form .container .contactInfo .info li {
        margin: 2px 0;
    }
    .contact-form .container .contactInfo li span:nth-child(1) {
        font-size: 15px;
    }
    .contact-form .container .contactInfo li span:nth-child(2), .contact-form .container .contactInfo li p a{
        font-size: 10px;
    }
    .contact-form .container .contactInfo li p {
        margin-top: 0 !important;
    }
    .contact-form .container .contactInfo .sci {
        display: none;
    }
    .contact-form .container .contactForm {
        padding: 20px 15px;
        width: calc(100% - 50px);
        height: 70%;
        top: 130px;
        margin-left: 50px;
    }
    .contact-form .container .contactForm h2 {
        text-align: center;
        font-size: 14px;
    }
    .contact-form .container .contactForm .formBox .inputBox span {
        font-size: 12px;
    }
    .contact-form .container .contactForm .formBox .inputBox input[type="submit"]{
        margin-left: 28%;
    }
    .brand-logo i {
        display: none;
    }
    #about {
    overflow: hidden;
}
  }
